In [11]:
import pandas as pd 

data = pd.read_csv('Data/Cust_Tot_Avg_EDA_Single_View.csv')
data.head()

,variable1,variable2,averages,count,percentage of total customers,total_visits,percentage of total visits,tot_spend,percentage of total spend,tot_qty,percentage of total qty,Average of visits,Average of tot_spend,Average of tot_qty,Average_spend_per_qty,Average_basket_size
0,channel,Instore,non-averages,5143,0.86,177414,0.9,5447711.66,0.86,2965034,0.86,0.0,0.00,0.00,0.00,0.00
1,channel,Multi Channel,non-averages,414,0.07,19232,0.1,851023.68,0.13,461831,0.13,0.0,0.00,0.00,0.00,0.00
2,channel,No Visit,non-averages,414,0.07,0,0.0,0.00,0.00,0,0.00,0.0,0.00,0.00,0.00,0.00
3,channel,Online,non-averages,29,0.00,241,0.0,18358.45,0.00,11854,0.00,0.0,0.00,0.00,0.00,0.00
4,channel,Instore,averages,0,0.00,0,0.0,0.00,0.00,0,0.00,34.5,1059.25,576.52,1.84,30.71

In [12]:
data = pd.melt(data, id_vars=['variable1','variable2','averages'])
data.columns = ['variable1','variable2','averages','data_type','value']
data.head()

  variable1      variable2      averages data_type   value
0   channel        Instore  non-averages     count  5143.0
1   channel  Multi Channel  non-averages     count   414.0
2   channel       No Visit  non-averages     count   414.0
3   channel         Online  non-averages     count    29.0
4   channel        Instore      averages     count     0.0

In [13]:
data.to_csv('Data/unpivoted_data1.csv', sep=',', encoding='utf-8')

In [14]:
data = pd.read_csv('Data/Channel_Percentage_Single_View.csv')
data.head()

,variable1,variable2,channel,average of visits,average of tot_spend,average of tot_qty,average_spend_per_qty,avg_basket_size,percentage_value
0,loyalty,Lapsing Shoppers,instore,8.15,233.92,101.56,2.30,28.69,3%
1,loyalty,No longer Shopping,instore,4.31,137.31,52.68,2.61,31.89,9%
2,loyalty,Occasional Shoppers,instore,21.31,418.81,213.31,1.96,19.65,40%
3,loyalty,Very Frequent Shoppers,instore,53.12,"1,827.46","1,012.88",1.80,34.40,48%
4,loyalty,Lapsing Shoppers,multi-channel,9.30,537.97,236.00,2.28,57.85,2%

In [15]:
data = pd.melt(data, id_vars=['variable1','variable2','channel'])
data.columns = ['variable1','variable2','channel','data_type','value']
data.head()

  variable1               variable2        channel          data_type    value
0   loyalty        Lapsing Shoppers        instore  average of visits    8.15
1   loyalty      No longer Shopping        instore  average of visits    4.31
2   loyalty     Occasional Shoppers        instore  average of visits   21.31
3   loyalty  Very Frequent Shoppers        instore  average of visits   53.12
4   loyalty        Lapsing Shoppers  multi-channel  average of visits    9.30

In [16]:
data.to_csv('Data/unpivoted_data2.csv', sep=',', encoding='utf-8')